:root {
    --bg-color-main: #2222;
    --bg-color-container: rgba(0, 0, 0, 0.80);
    --txt-headings-color: #1782E4;
    --txt-main-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-weight: normal;
    font-size: x-large;
    color: var(--txt-headings-color);

}
h5 {
    font-weight: normal;
    font-size: large;
    color: var(--txt-headings-color);

}

body {
    background-color: var(--bg-color-main);
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    text-align: center;
}
.aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resume{
    color: var(--txt-main-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
}
.name {
    margin-top: 10px;
}
.back {
    color: var(--bg-color-container);
    font-size: large;
    margin-bottom: 20px;
    text-decoration: none;
}
.title {
    font-size: larger;
    margin: 0;
}
.container {
    background-color: var(--bg-color-container);
    width: 95%;
    height: auto;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 5px 5px 15px var(--bg-color-container);
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.profile-picture>img {
    height: 130px;
    width: 130px;
    border-radius: 20px;
}

.intro {
    align-self: flex-end;
    max-width: 331px;
    text-align: right;
}
.intro>.name {
    margin-bottom: 15px;
}

.intro>.presentation {
    font-size: large;
}

section {
    margin-top: 30px;
    width: 100%;
}


hr {
    margin-top: 30px;
    width: 85%;
    height: 1px ;
    color: #7676ff46;
}


.list {
    margin-top: 20px;
}


.list > li {
    display: block;
    margin-top: 10px;
}

.list > li > p {
    margin-top: 5px;
}

.description {
    padding: auto;
    font-size: small;
}

.skills>p {
    margin-top: 30px;
}

.list-format {
    margin: 20px 0 5px 35px;
}

.list-format>p{
    margin-top: 30px;
}



@media only screen and (min-width: 961px) {

    .container {
        width: 1024px;
        padding: 30px 135px 30px 135px;
    }


    
    
}

