
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    animation: 'fade-in' 1s ;
    width: 100vw;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}



.page-header {
    color: white;
    background-color: #7676ff42;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: "Pacifico", sans-serif ;
    margin-left: 20px;
    font-size: 35px;
    animation: "fade-in" 1s;
    color: rgb(0, 0, 0);
}



.page-header>nav>ul>li{
    display: inline;
    margin-right: 20px;
}

.hero {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: -1;
    padding-top: 85px;
    background-color: #a7d0f4;
}


.hero>figure{
    position: relative;
    top: 5px;
}



.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7676ff42;
    margin-top: 55px;
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

.bio > p {
    font-style: italic;
    width: auto;
    margin-top: 10px;
}

.intro {
    font-family: "Pacifico", sans-serif;
    font-size: 40px;
    margin-bottom: 2px;

}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #a7d0f4;
}

.social-links>ul>li{
    display: inline;
    margin: 20px


}

.social-links>ul>li>a>img{
    width: 50px;
    height: 50px;
}


.works {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 240px ;
    margin-bottom: 35px;
    flex-wrap: wrap;
}
.work-container {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    position: relative;
    box-shadow: #7676ffca 5px 5px 2px;
}
.description {
    position: absolute;
    background-image: linear-gradient(to top, black, transparent); 
    width: 200px;
    height: 200px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.description > p {
    text-align: center;
    
}



@keyframes smooth {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    } 
}


.work-container:hover {
    animation: smooth .1s linear forwards;
    box-shadow: #7676ff 3px 3px 4px;
}
.description:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}


.work-container > a {
    width: 100%;
    height: 100%;
}

.work-container > a > img {
    height: 200px;
    width: 200px;
}

.description > p {
    color: #f2f2f2;
    font-size: large;
}

.skills-overview {
    width: 100vw;
    overflow-x: hidden;
    padding: 60px 0;
    display: flex;
    position: absolute;
    top: 940.5px;
    z-index: 2;
    opacity: 0.8;
}

.slider {
    display: flex;
    flex-direction: row;
    animation: 15s scroll infinite linear;
}


.slider > img {
    height: 100px;
    margin-right: 150px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: #7676ff;
    width: 100%;
    height: 350px;
    flex-direction: column;
}
footer>p {
    margin-top: 15px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    width: 350px;
    flex-direction: column;
}

form>label{
    margin: 5px 0 5px 0;
}

form>textarea, form>input {
    box-shadow: black 1px 2px 4px;
}

.bt-pacifico{
    margin-top: 5px;
    width: min-content;
    font-family: "Pacifico", sans-serif;
    font-size: 18px;
    padding: 5px;
    background-color: #a7d0f4;
    border: 1px solid #7676ff;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8; 
    color: black; 
}

.bt-pacifico:hover{
    opacity: 1;
    transform: translateY(-1px);
    box-shadow: 1px 1px black;
}

.bt-pacifico:active {
    color: black;
    transform: translateY(1px);
    box-shadow: inset 1px 1px black;
}

 form>input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}


form>textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.thanks {
    font-size: smaller;
}

.sign {
    font-size: larger;
    font-family: "Pacifico", sans-serif;
}






/* Desktop Styles */
@media only screen and (min-width: 961px) {


    .page {
        display: flex;

    }

    .hero {
        flex-direction: row;
        width: 100%;

    }

    .skills-overview {
        top: 666.5px;
    }

    .slider > img {
    width: 100px;
    height: 100px;
    margin-right: 400px;
    }

  }
